.card {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
}
@media (max-width: 768px) {
  .card {
    display: inline;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
}
