.container {
  margin: auto;
  width: 50%;
  border: 2px solid #dedede;
  padding: 10px;

  background-color: #f1f1f1;
  border-radius: 5px;
}
.button {
  width: 50%;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  padding: 10px;
  color: black;
  border: 1px solid lightgray;
  background-color: transparent;
  border-radius: 4px;

  &:hover,
  &:active {
    background-color: #ffe2ed;
  }
}
.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}
.rooms {
  padding: 15px;
  margin: 15px;
  margin: auto;
  width: 50%;
}
.button {
  padding: 15px;
  margin: 15px;
  margin: auto;
  width: 50%;
}
